<a href="https://colab.research.google.com/github/MissionApolo18/CyP1157/blob/main/Fundamentos2_CyP1157.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Tipos de datos en Python

1. Listas
2. Tuplas
3. Diccionarios
4. Conjuntos (opcional)

#Listas

- se declara de dos formas# - usando [] - usando list ()
-puede contener tipos de datos diversos (en otros leng. de prog. esto no es posible de forma directa).
- Los elementos internos se seleccionan con []
- Soporta slicing
- SON MUTABLES
- GENERADORES [var for]

In [ ]:
 numeros =[10,5,2,3,1]
 print (numeros)

 numeros2=list()
 numeros2.append (10)
 numeros2.append (5)
 numeros2.append (2)
 numeros2.append (3)
 numeros2.append (1)
 print (numeros2)
 numeros[2]=20
 print(numeros)
 numeros [-1]=33
 numeros.append(88)

In [ ]:
#Tipos diversos

cosas = [12,2,True,"José",1.57,["pera", "kiwi", "uva"]]
print(cosas)
print (cosas[1])
print (cosas[4])
print (cosas[5])
print (cosas[5][1])
print (cosas[3][1:3:])
cosas[3]=cosas[3].upper()
print (cosas)

In [ ]:
numeros = [1,2,3,4,5,6,7,8,9,10,11]
print(numeros)
#slicing
#Ej 1.- 4-8?
print (numeros [3:8])
#2.- [9,10]
print (numeros [8:10])
print (numeros [-3:-1:])
#3.- imprimir la lista en orden inverso
print(numeros [::-1])

In [ ]:
#Crear una lista con un generador
numeros = [ x*3 for x in range (101)]
print (numeros)

#funion range
tiene los mismos componentes que slicin
ini, stop, incremento
range (1, 101, 1)

In [ ]:
numeros = [ x for x in range (50,101)]
print (numeros)

[50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

#Métodos disponibles de las listas

In [ ]:
dir (list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
numeros= [4,1,15,8,22,34,50]
print (numeros)
numeros.append (99)
print (numeros)
#numeros.clear ()
numeros= []
print (numeros)

frutas = ["uvas", "kiwi", "manzana"]
copia = frutas
print (frutas)
print (copia)
frutas.append ("Naranja")
print (frutas)
print (copia)

colores = ["rojo", "azul", "blanco"]
copia2 = colores.copy()
print (colores)
print (copia2)
colores.append ("Verde")
print (colores)
print (copia2)

print ("Numero de veces que aparece el 15= ", numeros.count(15))

#Extend

nombres = ["jose", "pedro", "karina"]
otrosnombres = ["josue", "diana", "dalia"]

print (nombres)
print (otrosnombres)
nombres = nombres + otrosnombres
print (nombres)
print (otrosnombres)

#lo mismo pero con elmétodo extend
otrosnombres.extend(["jesus", "maria", "jose"])
print(otrosnombres)
print ("jesus está en la posición: ", otrosnombres.index ("jesus"))
otrosnombres.insert (4,"espitiru santo")
print (otrosnombres)

[4, 1, 15, 8, 22, 34, 50]
[4, 1, 15, 8, 22, 34, 50, 99]
[]
['uvas', 'kiwi', 'manzana']
['uvas', 'kiwi', 'manzana']
['uvas', 'kiwi', 'manzana', 'Naranja']
['uvas', 'kiwi', 'manzana', 'Naranja']
['rojo', 'azul', 'blanco']
['rojo', 'azul', 'blanco']
['rojo', 'azul', 'blanco', 'Verde']
['rojo', 'azul', 'blanco']
Numero de veces que aparece el 15=  0
['jose', 'pedro', 'karina']
['josue', 'diana', 'dalia']
['jose', 'pedro', 'karina', 'josue', 'diana', 'dalia']
['josue', 'diana', 'dalia']
['josue', 'diana', 'dalia', 'jesus', 'maria', 'jose']
jesus está en la posición:  3
['josue', 'diana', 'dalia', 'jesus', 'espitiru santo', 'maria', 'jose']

#Tuplas  - 09/11/2021
### Características de las Tuplas

- Datos agrupados
- Se declara usando#
 - ( )
 - tuple ()
- Pueden tener de 0 a n elementos
- NO SON MUTABLES (No se puede: eliminar y/o cambiar)
- Son buenas para almacenar información de consulta
- Pueden almacenar información de diferentes tipos de dato
- Pueden estar anidadas
-Tienen métodos útiles

In [ ]:
info = ("juan23", "dios1234", "123.232.1.12")
print (info)
print (info [1])
#info [1]="patito23"

numeros=(0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15)
print (numeros)
print (numeros[5:11])

cosas=(info, numeros)
print (cosas)
print (cosas [1][5:11:1])
print (cosas[0][2][4:7]) #en positivo
print(cosas [0][2][-8:-5]) #en negativo

('juan23', 'dios1234', '123.232.1.12')
dios1234
(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15)
(5, 6, 7, 8, 9, 10)
(('juan23', 'dios1234', '123.232.1.12'), (0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15))
(5, 6, 7, 8, 9, 10)
232
232

#Métodos de las tuplas
son los mismos de las listas pero los que no involucren mutabilidad.

In [ ]:
dir (tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

#Diccionarios
### Características de los diccionarios

- Agrupan datos pero de forma no lineal.
- se declara con#
 - {}
 - dict ()
- Formando pares del tipo llave:valor, donde
 - Llave es de tipo string (Siempre)
 - Valor puede ser de cualquier tipo de datos, incluyendo los diccionarios
- Se seleccionan con llave la forma ["id_llave"]
- Son mutables
- Son equivalentes al tipo de dato JSON del lenguaje JAVAScript (JS)

In [ ]:
alumno={"nombre":"José"}
print (alumno)
print (alumno ["nombre"])
alumno = {"nombre":"José", "nc":"2129229292", "edad":18}
print("Edad del alumno: ",alumno ["edad"])
print (alumno ["nombre"].upper())

print ("Alumno 2:")
alumno2 = dict() #{}
alumno2["nombre"]="josé"
print (alumno2)
alumno2["nc"]="2129229292"
alumno2["edad"]=18
print (alumno2)
alumno2 ["edad"]=alumno2["edad+1"]

In [ ]:
cliente = {"id":"CT2121", 
           "nombre": {
               "nombres":"José Eduardo",
               "paterno":"Pedroza",
               "materno":"Rosales"},
           "telefonos": {
               "casa":"554456565",
               "celular":"04455234234"
           },
           "productos":{
               "ahorro":{"número_cuenta":"7878","ahorro":2500.5},
               "tarjetas":[
                           {"tipo":"débito", "saldo":10000.5},
                           {"tipo":"crédito preferente","límite":250000.5},
                           {"tipo":"lite", "límite":15000.5}
               ]
           },
           "dirección":{
               "calle":"Av. Central",
               "numero":1245,
               "colonia":"Impulsora",
               "delegación":"Neza",
               "estado": {
                   "clave":15,
                   "nombre_corto":"EdoMex",
                   "nombre":"Estado de México"
               }
           }
           }

print (cliente ["telefonos"]["casa"]) 
print(cliente)
print(cliente["productos"]["ahorro"]["ahorro"])
print(cliente["productos"] ["tarjetas"] [2] ["límite"])
print(cliente["dirección"]["estado"]["nombre"].upper())
print (cliente["productos"]["ahorro"]["ahorro"] -= 1500)  #11/11/2021
print (cliente["productos"])

#Diccionario película - libre
película = {"Nombre":"Avengers: End Game",
            "Reparto_Principal":{
                "Ironman":"RDJ",
                "Capitán América":"Chris Evans",
                "Thor":"Chris Hemsworth",
                "Hawkewye":"Jeremmy Renner,
                "Black Widow":"Scarlett Johanson",
                "Hulk":"Mark Ruffalo",
            }, 
            "Productores":{
                "Director":"Anthony y Joe Russo",
                "Producción":"Kevin Feige"
                "Guión":["Christopher Markus", "Stephen Mc Feely"]
            }, 
            "Ambientación":{
                "Música":"Alan Silverstri"
                "Montaje":"Jeffrey Ford"
            }, 
            "Compañías":{
                "Productora":"Marvel Studios",
                "Distribición":"Walt Disney Studios Motion Pictures"},}

#Estruturas de control de programación

Se puede crear cualquier tipo de algoritmo empleando solamente 3 estreucturas de control: 
1. Secuencia: 
  - La representación de la memoria de programa (Arquitectura Vonn Newman)
  - 
2. Selección:
  - Es la estructura de selección de control que decide si un bloque de programa se ejecuta o no se ejecuta. También permite seleccionar si se ejecuta un bloque entre un conjunto de opciones.
   - En resumen tenemos: 
     - Seleccion simple, 
     - Selección bifurcación y 
     - Selección múltiple.
  - So
3. Repetición: 
  - Este tipo de estructura nos permite automátizar, la ejecución repetitiva de código mientras ciertas condiciones se cumplan, tenemos tres variantes de es esta estructura en todos los lenguajes de programación#
    - Desde...hasta (Estructura for)
    - Haz mientras (Estructura While)
    - Haz y luego valida mientras (Estructura do-While)

##Seleccion simple
- Documentar o poner notas
### La estructura If

```
 if < CONDICION > #
  < cuerpo del IF >
```  
**Nota** Para establecer el cuerpo de una estructura de control en Python se usan los tabuladores a la izq.

En otros lenguajes de programación como Java, C y C++ se usan las llaves {}

```
int edad=0;
printf("Dame tu edad");
scanf("%i", &edad);
if(edad >=18){
  printf("Eres mayor de edad");
}
printf ("Fin del programa");
```

In [ ]:
edad = int (input("Dame tu edad: "))
print (f"Tecleaste {edad} años")
if edad >= 18 :
  print("ERES MAYOR DE EDAD")
print ("Fin del programa")

Dame tu edad: 1
Tecleaste 1 años
Fin del programa

In [ ]:
CAL = float(input("Dame tu calificación"))
if CAL > 8:
  print("Aprobado")
print("Fin del programa")

Dame tu calificación8.40
aprobado
Fin del programa

In [ ]:
SUE = float(input("Escribe el sueldo: "))
AUM = 0 
MSUE = 0

if SUE < 1000 :
    AUM = SUE* 0.15
    MSUE = SUE + AUM
    print(MSUE)

Escribe el sueldo: 875.50
1006.825

#Estructura de seleccion con bifurcación (if-else) - 18/11/2021
Estas estructura, selecciona una de dos opciones de ejecución, se ejecuta un bloque si la condición se cumple o se ejecuta otro bloque si la condición no se cumple (else).

```
if <condición> : 
    <bloque de ejcución>
else :
    <bloque de ejecución alterno>
```

In [ ]:
edad= int (input("Dame tu edad: "))
print(f"Tecleaste {edad} años")
if edad>=19:
  print("Eres mayor de edad, toma tu cerveza")
else:
  print("Eres menor de edad, toma un boing de mango")
print("Fin del programa")

Dame tu edad: 18
Tecleaste 18 años
Eres menor de edad, toma un boing de mango
Fin del programa

In [ ]:
#Edad, dinero cuanto trae, 36 pesos la cerveza

edad= int (input("Dame tu edad: "))
print(f"Tecleaste {edad} años")
if edad>=19:
  print("Eres mayor de edad, ¿te alcanza para tu cerveza?")
  dinero=float (input("Dime cuánto dinero traes: "))
  print (f"Tecleaste {dinero} pesos")
  if dinero>=36:
    print("Te alcanza para tu cerveza")
  else:
    print("No te alcanza para tu cerveza, toma un boing")
else:
  print("Eres menor de edad y no te alcanaza, toma un boing de mango")
print("Fin del programa")

Dame tu edad: 18
Tecleaste 18 años
Eres menor de edad y no te alcanaza, toma un boing de mango
Fin del programa

El código anterior se puede simplificar usando una palabra reservada para algunos lenguajes de programación:

###elif

In [ ]:
#Edad, dinero cuanto trae, 36 pesos la cerveza

edad= int (input("Dame tu edad: "))
print(f"Tecleaste {edad} años")
dinero =float (input("Dime cuánto dinero traes: "))
if edad>=19:
  print("Eres mayor de edad, ¿te alcanza para tu cerveza?")
  print (f"Tecleaste {dinero} pesos")
  if dinero >=36:
    print("Te alcanza para tu cerveza")
  else:
    print("No te alcanza para tu cerveza, toma un boing")
elif dinero >=36:
  print("Eres menor de edad y no te alcanaza, toma un boing de mango")
print("Fin del programa")

Dame tu edad: 18
Tecleaste 18 años
Dime cuánto dinero traes: 450
Eres menor de edad y no te alcanaza, toma un boing de mango
Fin del programa

In [ ]:
Cal= float(input("Escribe tu calificación: "))
if Cal >=8:
  print("Aprobado")
else: 
  print ("Reprobado")

Escribe tu calificación: 9
Aprobado

In [ ]:
#ejemplo 2.4
SUE = float(input("Escribe el sueldo: "))
AUM = 0 
NSUE = 0

if SUE < 1000 :
    AUM = SUE* 0.15
    NSUE = SUE + AUM
    print(NSUE)
else:
    AUM= SUE*0.12
    NSUE = SUE + AUM
    print(NSUE)

Escribe el sueldo: 18000
20160.0

###EJERCICIO IF ELSE
Hacer un programa que solicite el día de la semana en un valor n´merico entero 
del 1 al 7, avisarle al usuario si proporcionó un valor fuera del rango
Posteriormente imprimirá el día de la semana correspondiente al número capturado

1 - lunes
2 - martes
...
7 - domingo

In [ ]:
dia=int(input("Dame el día de la semana del 1-7: "))
if dia is 1:
    print("Lunes")
elif dia is 2:
    print("Martes")
elif dia is 3:
    print("Miercoles")
elif dia is 4:
    print("Jueves")
elif dia is 5:
    print("Viernes")
elif dia is 6:
    print("Sábado")
elif dia is 7:
    print("Domingo")
else:
    print("Debe ser un numero del 1 al 7, ingresa nuevamente")

Dame el día de la semana del 1-7: 6
Sábado

In [ ]:
dia = int( input("Ingresa un numero entre 1 y 7:"))
print(f"Capturaste el numero { dia }")

if dia >=1 and dia <= 7:
  if dia == 1:
    print("Lunes")
  else:
    if dia == 2:
      print("Martes")
    else:
      if dia == 3:
        print("Miércoles")
      else:
        if dia == 4:
          print("Jueves")
        else:
          if dia == 5:
            print("Viernes")
          else:     
            if dia == 6:
              print("Sábado")
            else:
              print("Domingo")
else:
    print("Ese numero no esta dentro del rango solicitado")

Ingresa un numero entre 1 y 7:5
Capturaste el numero 5
Viernes

#Selección múltiple (switch)
En python no existe la escritura de selección "Switch" en su lugar se emplea la palara reservada:
## elif <condición> 

```
float SUE=0.0;
int CATE=0;

printf("Intropduce la categoría: );
scanf("%f",SUE);
swirch (CATE)
  case 1:
    SUE=SUE*1.15;
    break; 
  case2:
   SUE=SUE1.*10;
   break;
  case 3:
    SUE=SUE*1.08;
    break;
  case 4:
    SUE=SUE*1.07;
    break; }
prinf("Categoría= %i, Sueldo= %f", CATE, SUE);
```

In [ ]:
U#ejemplo2.7

NUM=int (input("dame un numero entre 1 y 3:"))
V=float(input("Dame un valor float: "))
VAL=0
if NUM == 1:
  VAL=100*V
elif NUM==2:
  VAL=100**V
elif NUM==3:
  VAL=100***V
else:
  VAL=0

print (VAL)

#23/11/2021

In [ ]:
#Ejemplo 2.8

CATE=int(input("Introduce la categoría: "))
SUE=float(input("Introduce el sueldo: "))

if CATE==1:
   SUE=SUE*1.15;
elif CATE==2:
  SUE=SUE*1.10;
elif CATE=3:
  SUE=SUE*1.08;
elif CATE=4:
  SUE=SUE*1.07;

print(f"Categoría= {CATE}, Sueldo= {SUE}")

In [ ]:
#Ejemplo 2.12

a=int(input("Ingrese un número entero: "))
b=int(input("Ingrese otro número entero"))
c=int(input("Ingrese un último número entrero"))

if a>=b and a>=c and b<=c:
  print("El número mayor es: ",a)
  print("El número medio es: ",b)
  print("El número menor es: ",c)
elif a>=b and a>=c and c<=b:
  print("El número mayor es: ",a)
  print("El número medio es: ",c)
  print("El número menor es: ",b)
elif b>=a and b>=c and a<=c:
  print("El número mayor es: ",b)
  print("El número medio es: ",a)
  print("El número menor es: ",c)
elif b>=a and b>=c and c<=a:
  print("El número mayor es: ",b)
  print("El número medio es: ",c)
  print("El número menor es: ",a)
elif c>=a and c>=b and a<=b:
  print("El número mayor es: ",c)
  print("El número medio es: ",a)
  print("El número menor es: ",b)
else:
  print("El número mayor es: ",c)
  print("El número menor es: ",b)

In [ ]:
#Problema 2.14
TIPOENF=int(input("Introduce el tipo de enfermedad: "))
EDAD=int(input("Introduce la edad: "))
DIAS=int(input("Introduce el número de días: "))
COSTO= 0.0

if TIPOENF==1:
  COSTRO=DIAS*25.0
elif TIPOENF ==2:
  COSTO=DIAS*16.0
elif TIPOENF==3:
  COSTO=DIAS*20.0
if EDAD>=14 and EDAD >=22: 
  COSTO=COSTO*1.10

print("Costo total = $",COSTO)
print(f"Se pagó ${COSTO} pesos por {DIAS} días de estancia")
print("No alcancé a copiar esto")